* {
	max-width: 700px;
	margin: auto;
  }
  
  
  /*body {
	  min-width: 500px;
  }*/


  img {
	width: 120px;
	height: 120px;

  }

  div {
	border-radius: 5px;
  }
  
  #header {
	height: 40px;
	width: 100%;
	background: linear-gradient(gray, white);
	position: fixed;
	z-index: 1;
  }
  
  #title {
	margin-left: 3%;
  }
  
  #footer {
	height: 50px;
	width: 100%;
	background: linear-gradient(gray, white);
	clear: both;
	position: relative;
	
  }
  
  .left {
	height: 1000px;
	width: 45px;
	background-color: #ffffff;
	float: left;
	position: fixed;
  }
  
  .right {
	height: 1000px;
	width: 45px;
	background-color: #ffffff;
	float: right;
	position: inherit;
	text-align: center;
  }
  
  .stuff {
	display: inline-block;
	margin-top: 6px;
	margin-left: 55px;
	width: 75%;
	height: 1000px;
  }
  
  p,
  li {
	font-family: 'Cormorant Garamond';
  }
  
  .head {
	font-size: 20px;
	margin-top: 20px;
  }
  
  #name {
	font-family: Sacramento;
	float: center;
	margin-top: 50%;
	margin-right: 4%;
	text-align: center;
  }
  
  a {
	color: black;
	text-decoration: none;
  }
  
  @media only screen and (max-width: 430px) {
	.left,
	.right {
	  display: none;
	}
	.stuff {
	  width: 100%;
	  margin-left: 10px;
	}
  }
  #neron{
	font-style: italic;
  }
  .solution {
margin-top: 50px;
margin-bottom:25px;
font-weight: bold;
font-size: 32px;

  }
